.list {
    display: flex;
    gap: 10px;
}

.item {
    cursor: pointer;
    min-width: 120px;
    padding: 7px 8px;
    text-align: center;
    color: var(--dark-gray);
    border: 1px solid var(--gray);
    border-radius: 35px;
    transition: background-color .3s ease;
}

.active {
    color: var(--white);
    background-color: var(--dark-gray);
}