.container {
    padding-left: var(--container-form-padding);
    padding-right: var(--container-form-padding);
    padding-top: 40px;
    padding-bottom: 40px;
}

.topHead,
.bottomHead {
    display: flex;
    justify-content: space-between;
}

.topHead {
    margin-bottom: 10px;
}

.bottomHead {
    margin-bottom: 15px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 40px;
}