.container {
    padding-left: var(--container-form-padding);
    padding-right: var(--container-form-padding);
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--main-bg);
    border-bottom: 1px solid var(--black);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftSide {
    display: flex;
    align-items: flex-end;
    gap: 20px
}

.rightSide {
    display: flex;
    gap: 20px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.nav {
    display: flex;
    gap: 15px;
    padding-bottom: 5px;
}

.item {
    cursor: pointer;
    font-size: 16px;
    line-height: 13px;
    text-transform: uppercase;
    color: var(--black);
}